.search-container {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.search-input {
    width: 350px;
    border-width: none;
    border-radius: 50px;
    padding: 12px 20px;
    font-size: 15px;
    background: #a592f2;
    color: #e7e9f0;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
}

.search-input:focus {
    outline: none;
}

.search-input::placeholder {
    color: #e7e9f0;
}
