.header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
}
.header-image {
    width: auto;
    transition: max-width 1s, min-width 1s;
}

.header-image-expanded {
    min-width: 430px;
    max-width: 450px;
}

.header-image-contracted {
    min-width: 140px;
    max-width: 160px;
}

.header-text {
    font-family: 'Hachi Maru Pop', cursive;
    margin: 5px 0 15px 0;
    transition: font-size 1s;
}

.header-text-expanded {
    font-size: 36px;
}

.header-text-contracted {
    font-size: 12px;
}
